body, html{
	height: 100%;
}
.header{
	width: 100%;
}
/* Style the topnav links */
.head li a {
  display: block;
  text-align:center;
  font-size:20px;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
}
.head li button{
	display: block;
  text-align:center;
  color: white;
  padding: 12px 30px;
  font-size:18px;
  text-decoration: none;
  background-color:#006080;
  border: 0px;
  font-family:'Bitter';
}
.head li button:hover{
	background-color: #e0e0d1;
  color: blue;
}
/* Change color on hover */
.head li a:hover {
  background-color: #e0e0d1;
  color: blue;
}
.head {
  list-style-type: none;
  margin: 0;
  padding-left: 180px;
  overflow: hidden;
  background-color:#006080;
  font-family:'Bitter';
}
.head li{
	float:left;
}
.dropdown {
	font-size:18px;
  display: inline-block;
  text-align:center;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  overflow: auto;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color:  #7a1f5c;
  color: white;
}
i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  color: white;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position:absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:auto;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
/* Modal Content/Box */
.modal-content {
border: 0px;
  position:relative; /* 15% from the top and centered */
  margin:2% auto;
  width:40%;
  padding:0px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {top:-100px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  margin-right:2%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.tabgroup li a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}
.tab-group li a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
.inner {
  min-width: 850px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 48px;
  background: url("registration-form-2.jpg"); }
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }
.form-group {
  display: flex; }
  .form-group .form-wrapper {
    width: 50%; }
    .form-group .form-wrapper:first-child {
      margin-right: 20px; }

.form-wrapper {
  margin-bottom: 17px; }
  .form-wrapper label {
    margin-bottom: 9px;
    display: block; }

#courses{
	text-color:grey;
	font-family:'Bitter';	
}

.col-sm-3{
margin-left:3%;
}
.card{
background: #4dffa6	;
border-radius: 10px;
}
#users{
display: grid;
    grid-gap: 40px;
        grid-template-columns: 270px 270px 270px 270px;
        /*background-color: #fff;*/
        color:#006bb3;
        left: 2%;
        top:35px;       
}
.card-body{
	text-align: center;
	font-size: 25px;
	
}
.card-title{
	font-size: 30px;
}

.myButt {
  outline: none;
  border: none;
  padding: 10px;
  display: block;
  margin: 25px auto;
  cursor: pointer;
  font-size: 25px;
  background-color: #00b359;
  position: relative;
  /*border: 2px solid #fff*/;
  width: 200px;
  border-radius: 3px;
}
.four {
  overflow: hidden;
}
.four span {
  color: #fff;
  display: inline-block;

}
.four:hover {
  transform: scale(1.1);
}